:root {
  --color-navbar-bg: #0a0a0a;
  --color-navbar-bg-focus: #000;
  --color-navbar-text: #fff;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: $font-main;
  font-size: 1.1em;
  text-size-adjust: 100%;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1.2em;
  }
}

body {
  color: $font-color;
  line-height: 1.6;
  margin: 0;
  background-color: $main-bg;
}

a {
  text-decoration: none;
  color: $link;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

code,
kbd,
pre {
  font-family: $font-mono;
}

b,
dt,
strong,
th {
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 0.3333rem;
  height: 0.3333rem;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}
