/* Colors */
$primary: rgb(59, 49, 245);
$primary-dark: rgb(16, 16, 52);
$light-blue: #398DF5;
$light-grey: #f4f8fb;
$dark-grey: #343940;
$white: white;

$action: $light-blue;

$main-bg: $light-grey;
$light-bg: $white;
$dark-bg: $dark-grey;

$font-color: #292D30;
$font-color-inverse: #9FA5B3;
$font-color-light: #C3C3CA;
$link: $light-blue;

/* Fonts */
$font-main: "Open Sans", sans-serif;
$font-alt: "Open Sans Condensed", sans-serif;
$font-mono: "Roboto Mono", monospace;

/* Font sizes */

/* Screen sizes */

/* Spacing */
$sidebar-padding-top: 1rem;
$sidebar-padding-sides: 1rem;

/* Borders */
$border: 1px solid rgba(0,0,0, .1);
$shadow: 0 0 5px rgba(0,0,0,.1);
$separator: 1px solid $light-grey;

$radius: 3px;

/* z-index */
