/* Colors */
$primary: rgb(59, 49, 245);
$primary-dark: rgb(51, 48, 97);
$primary-lighter: #f4f3fe;
$light-blue: #398df5;
$lighter-blue: #74acf2;
$secondary: rgb(232, 79, 82);
$tertiary: rgb(255, 224, 0);
$light-grey: #f4f8fb;
$dark-grey: #343940;
$white: white;

$action: $light-blue;

$main-bg: $light-grey;
$light-bg: $white;
$dark-bg: $dark-grey;

$font-color: #292d30;
$font-color-alt: #575f66;
$font-color-inverse: #9fa5b3;
$font-color-light: #c3c3ca;
$link: $light-blue;
$link-hover: $lighter-blue;

/* Alerts */
$caution: $tertiary;
$important: $secondary;
$note: $primary;
$tip: $primary;
$warning: $tertiary;

/* Tables */
$th-bg: #d9d9d9;
$th-border: 1px solid $th-bg;
$td-bg: #f7f7f7;
$td-border: 1px solid #e8e8e8;

/* Fonts */
$font-main: "Open Sans", sans-serif;
$font-alt: "Open Sans Condensed", sans-serif;
$font-mono: "Roboto Mono", monospace;

/* Font sizes */

/* Screen sizes */

/* Spacing */
$sidebar-padding-top: 1rem;
$sidebar-padding-sides: 0.75rem;
$submenu-spacing: 0.75rem;
$submenu-negative-spacing: -1.5rem;

/* Borders */
$border: 1px solid rgba(0, 0, 0, 0.1);
$shadow: 0 0 5px rgba(0, 0, 0, 0.1);
$separator: 1px solid $light-grey;
$sidebar-border: 4px solid $secondary;

$radius: 3px;

/* z-index */
