/* stylelint-disable at-rule-no-unknown */
@media print {
  body {
    background-color: white;
  }
}

@page {
  size: A4 portrait;
  margin-left: 0;
  border-left: 60px solid $primary;
  padding-left: 1.5cm;

  @bottom-left {
    content: string(doctitle);
    font-size: 12px;
    color: $primary;
    font-family: 'Open Sans', sans-serif;
    border-left: 60px solid $primary;
    padding-left: 1.5cm;
  }

  @bottom-right {
    content: 'Ajuntament de Barcelona';
    font-size: 12px;
    color: $primary;
    font-family: 'Open Sans', sans-serif;
  }

  @top-left {
    content: counter(page);
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    background-color: $primary;
    text-align: center;
    width: 60px;
  }
}

@page :first {
  border-left-color: $secondary;

  @bottom-left {
    color: white;
    border-left-color: $secondary;
  }

  @bottom-right {
    content: none;
  }

  @top-left {
    color: $secondary;
    background-color: $secondary;
  }
}

@page second {
  border-left-color: $secondary;

  @bottom-left {
    color: white;
    border-left-color: $secondary;
  }

  @bottom-right {
    content: none;
  }

  @top-left {
    background-color: $secondary;
  }
}

@page toc {
  /* page-break-before: right; */
  border-left-color: $tertiary;

  @bottom-left {
    color: white;
    border-left-color: $tertiary;
  }

  @bottom-right {
    content: none;
  }

  @top-left {
    background-color: $tertiary;
  }
}

@page :blank {
  display: none;
}

/* @page :left {
  @bottom-left {
    content: string(doctitle) ' - Ajuntament de Barcelona';
  }

  @bottom-right {
    content: string(current-section);
  }
} */

/* @page :right {
  @bottom-left {
    content: string(doctitle) ' - Ajuntament de Barcelona';
  }

  @bottom-right {
    content: string(current-section);
  }
} */
