body {
  font-family: 'Open Sans', sans-serif;
  color: $font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'Open Sans Condensed';
}

h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  color: $primary;
  margin-bottom: 0;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  color: $primary;
  margin-top: 0;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: $secondary;
  text-transform: uppercase;
  border-bottom: 1px solid $secondary;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  color: $primary;
  border-bottom: 1px solid $primary;
}

.paragraph {
  font-size: 12px;
}

dl {
  font-size: 12px;
}

dt {
  font-weight: bold;
  page-break-after: avoid;
}

dd {
  margin-left: 0;
}

td {
  font-size: 12px;
}

code,
kbd,
pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
}
