<footer class="footer">
  <div class="footer__top">
    <div class="footer__copyleft">

      <p>
        This page was built using <a href="https://antora.org/" target="_blank">Antora</a>. All our work is licensed
        under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International
        License, unless it says otherwise. We hope you find it useful.
      </p>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
        <img alt="Llicència de Creative Commons" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png">
      </a>
    </div>
  </div>
  <div class="footer__bottom">
    <a href="http://ajuntament.barcelona.cat" class="footer__cityhall">
      <img src="{{uiRootPath}}/img/ajuntament.png" alt="Ajuntament de Barcelona" />
    </a>

    <ul class="footer__legal">
      <li>
        <a href="https://ajuntament.barcelona.cat/digital/ca/avis-legal" target="_blank">
          Legal
        </a>
      </li>
    </ul>

  </div>
</footer>