<footer class="footer">
  <a href="http://ajuntament.barcelona.cat" class="footer__cityhall">
    <img src="{{uiRootPath}}/img/ajuntament.png" alt="Ajuntament de Barcelona" />
  </a>
  <div>
    <p>Copyright (C) 2018 Ajuntament de Barcelona. The contents of this website is
      distributed under a Creative Commons Attribution-ShareAlike 4.0 International license
      (CC-BY-SA-4.0).</p>

    <p>This page was built using the Antora default UI. The source code for this UI is
      licensed under the terms of the MPL-2.0 license.</p>
  </div>
</footer>