<header class="header" role="banner">
  <nav class="navbar">
    <a class="navbar__logo" href="{{siteRootPath}}/index.html">{{site.title}}</a>
    <ul class="navbar__links">
      {{!-- <li>
        <a href="#">Docs</a>
      </li>
      <li>
        <a href="#">Manifesto</a>
      </li> --}}
      <li>
        <a href="https://github.com/AjuntamentdeBarcelona" target="_blank">GitHub</a>
      </li>
    </ul>

    {{!-- <ul class="navbar__lang">
      <li>
        <a href="#" lang="en" aria-label="English">EN</a>
      </li>
      <li>
        <a href="#" lang="es-ES" aria-label="Castellano">ES</a>
      </li>
      <li>
        <a href="#" lang="ca-ES" aria-label="Català">CA</a>
      </li>
    </ul> --}}

    <a href="http://ajuntament.barcelona.cat" class="navbar__cityhall">
      <img src="{{uiRootPath}}/img/logo.png" alt="Ajuntament de Barcelona" />
    </a>
  </nav>
</header>