<header class="header" role="banner">
  <nav class="navbar">
    <a class="navbar__logo" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
    {{!-- <button class="navbar-burger" data-target="topbar-nav">
      <span></span>
      <span></span>
      <span></span>
    </button> --}}
    {{!-- <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">

      </div>
    </div> --}}
  </nav>
</header>