<div class="landing-intro">
  <p>El programa per a la Digitalització Oberta: Programari Lliure i
    Desenvolupament Àgil de Serveis de l’Ajuntament de Barcelona defineix
    el procés de canvi profund i progressiu de la manera en que la ciutat
    oferirà els seus serveis a la ciutadania en els propers anys.
  </p>
  <p>
    Un canvi decidit que posa a la ciutadania al centre per dissenyar un govern
    de serveis “digitals per defecte” enfocat ala sobirania tecnològica, al
    programari lliure i de codi obert, i a l’ús ètic de les dades per ser més
    obert i transparent. Que utilitza metodologies àgils i tecnologies obertes
    per ser més efectiu. I que transforma la contractació pública per impulsar
    la innovació del conjunt de la industria local de talent, potenciant les
    petites i mitjanes empreses del país. Un canvi que doni lloc, finalment, a
    una relació més oberta, senzilla i enriquidora amb el conjunt de la ciutadania.
  </p>
</div>