<div class="landing-hero">
  <div class="landing-hero__container">
    <img src="https://ajuntament.barcelona.cat/digital/sites/all/themes/comissionat2/images/CD_Iinfografia_main_Home.gif"
      alt="" />
    <div class="landing-hero__title">
      <h1>{{i18n 'landingTitle'}}</h1>
      <h2>{{i18n 'landingSubtitle'}}</h2>
    </div>
  </div>
</div>