{{#if navigation.length}} {{#each navigation}}
<ul class="landing__cards">
  {{> landing-tree navigation=./items}}
</ul>
{{/each}} {{/if}}

<div class="landing-manifesto">
  <div class="landing-manifesto__text">
    {{i18n 'landingManifestoText'}}
  </div>
  <a href="#" class="btn btn--inverse" aria-label={{i18n 'landingManifestoText'}}>
    {{i18n 'landingManifestoCta'}}
  </a>
</div>