{{> landing-hero }}

<div class="main-wrapper">
  <main class="main" role="main">
    {{#if page.navigation}}
    <nav class="landing-menu">
      {{> landing-cards navigation=page.navigation}}
    </nav>
    {{/if}}
  </main>
</div>

{{> landing-intro }}