<div class="landing-hero">
  <div class="landing-hero__container">
    <img src="https://ajuntament.barcelona.cat/digital/sites/all/themes/comissionat2/images/CD_Iinfografia_main_Home.gif"
      alt="" />
    <div class="landing-hero__title">
      <h1>Barcelona Ethical Digital Standards</h1>
      <h2>The Ethical Digital Standards of Barcelona City Council presented in an open and collaborative way.</h2>
    </div>
  </div>
</div>