{{#if (and page.navigation page.navigation.length)}}
  <div class="navigation-menu is-active" data-panel="menu">
    <nav class="nav-menu">
      {{#each page.navigation}}
        {{#if ./content}}
          {{#if (eq ./content '$$MAIN')}}
            {{> navigation-tree navigation=./items}}
          {{/if}}
        {{else}}
          {{> navigation-tree navigation=./items}}
        {{/if}}
      {{/each}}
    </nav>
  </div>
  <div class="navigation__bottom">
    {{#each page.navigation}}
      {{#if (and ./content (eq ./content '$$BOTTOM'))}}
        {{> navigation-bottom navigation=./items}}
      {{/if}}
    {{/each}}
  </div>
{{/if}}
