{{#if page.navigation}}
  <div class="navigation-menu is-active" data-panel="menu">
    <nav class="nav-menu">
      {{> navigation-tree navigation=page.navigation}}
    </nav>
  </div>
  <div class="navigation__bottom">
    {{#if page.navigation.length}}
      {{#each page.navigation}}
        {{#each ./items}}
          {{#if (and ./content (eq ./content '$$BOTTOM'))}}
            {{log "items:" ./items}}
            {{> navigation-bottom navigation=./items}}
          {{/if}}
        {{/each}}
      {{/each}}
    {{/if}}
  </div>
{{/if}}
