<div class="toolbar" role="navigation">
  <button class="navigation-toggle"></button>
  {{#if site.homeUrl}}
  {{!-- <a href="{{relativize page.url site.homeUrl}}" aria-label="Home" class="home-link{{#if page.home}} is-current{{/if}}">
    <i class="fas fa-home"></i>
  </a> --}}
  {{/if}}
  {{> breadcrumbs}}
  {{> page-versions}}
  {{#if page.editUrl}}
  <a href="{{page.editUrl}}" class="edit-this-page btn btn--secondary btn--mini" title="Edit page on Github" aria-label="Edit">
    <i class="far fa-edit"></i>Edit on Github</a>
  {{/if}}
</div>