.landing {
  &-hero {
    background: #d8d8f5;
    overflow: hidden;
    padding-top: var(--navbar-height);
  }

  &-hero__container {
    max-width: 75rem;
    margin: 0 auto;

    img {
      margin-top: 10%;
      display: block;

      @media screen and (min-width: 769px) {
        margin-top: -10%;
      }
    }
  }

  &-hero__title {
    margin: 0;
    padding: 1rem 0.5rem;
    background: $tertiary;
    color: $white;

    h1 {
      font-size: 2.25rem;
      line-height: 1.1;
      margin: 0 0 1rem;
    }

    h2 {
      margin: 0;
      font-size: 1.25rem;
      line-height: 1;
    }

    @media screen and (min-width: 769px) {
      margin: 0 1.8rem;

      h1 {
        font-size: 4rem;
        line-height: 0.9;
      }

      h2 {
        font-size: 2.25rem;
      }
    }
  }

  &__cards {
    list-style: none;
    padding: 0;
    max-width: 64.5rem;
    margin: 0 auto;

    @media screen and (min-width: 769px) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 3rem;

      > * {
        width: calc(33.33% - 2rem);
      }
    }
  }

  &-manifesto {
    padding: 3rem 1rem;
    text-align: center;
    font-weight: bold;
    color: $white;
    background-color: $secondary;

    &__text {
      font-size: 1.5rem;
    }

    .btn {
      margin-top: 1rem;
      display: inline-block;
      padding: 1rem 2rem;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.3rem;
      color: $secondary;

      &:hover {
        color: $secondary;
      }
    }
  }

  &-intro {
    background: #d8d8f5;
    padding: 4rem 1rem 5rem;
  }

  &-intro__container {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
  }

  &-intro__title {
    text-align: center;
    position: relative;
    padding: 1rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 3rem;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: calc(50% - 1.5rem);
      width: 3rem;
      height: 2px;
      background: $secondary;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &-intro__cta {
    text-align: center;
    margin-top: 3rem;
    font-weight: bold;

    .btn {
      margin-top: 0.3rem;
      display: inline-block;
      padding: 1rem 2rem;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}

.card {
  background: $primary;
  color: $white;
  padding: 1.5rem;
  margin: 1rem;
  min-height: 12rem;
  display: flex;
  font-size: 1.5rem;
  transition: all 0.3s;
  position: relative;

  &::after {
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    content: '';
    width: 2rem;
    height: 2rem;
    background: url(../img/chevron-right-white.svg) no-repeat center center;
    background-size: contain;
    transition: transform 0.5s;
  }

  &:hover::after {
    transform: translateX(0.5rem);
  }

  &:hover {
    background: $secondary;

    a::before {
      height: 1px;
    }
  }

  > a {
    color: inherit;
    position: relative;
    padding-top: 0.5rem;

    &:hover {
      text-decoration: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 2rem;
      height: 5px;
      background: $tertiary;
      transition: all 0.3s;
    }
  }
}
