.main-wrapper {
  display: flex;
  /* padding-top: calc(var(--navbar-height) + 1rem); */

  @media (min-width: $screen-l) {
    /* padding-top: var(--navbar-height); */
  }
}

.main {
  flex: auto;
  /* min-width: 0 required for flexbox to constrain overflowing elements */
  min-width: 0;

  @media screen and (max-width: 1024px) {
    .is-clipped--nav & {
      opacity: 0.25;
    }
  }
}
