html.is-clipped--nav {
  overflow-y: hidden;
}

.navigation-menu {
  flex-grow: 1;
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  padding: 0 $sidebar-padding-sides;
}

.navigation-menu:not(.is-active) {
  display: none;
}

.nav-menu {
  flex-grow: 1;
  min-height: 0;
  font-size: 80%;
}

.nav-menu h3.title {
  margin: 0;
  font-weight: 500;
  color: #424242;
  font-size: 1em;
  /*
  padding: 0.125em 0.75em 0.25em;
  */
  /*
  padding: 0.25em 0.75em;
  */
  /* padding: 0.125rem 0.5rem 0.25rem; */
}

.nav-menu a,
.nav-menu a:visited {
  color: $font-color-alt;
}

.nav-list {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 600;
}

.nav-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 0.25em;
  margin-bottom: 0.5rem;

  &[data-depth='2'] {
    margin-left: $submenu-spacing;
    padding-bottom: 0;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1.2;
    margin-bottom: 0.25rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.nav-item:not(.is-active) > .nav-list {
  display: none;
}

/* matches list without a title */
.nav-item[data-depth='0'] > .nav-list:first-child {
  display: block;
  margin-left: 0;
}

.nav-item[data-depth='0'] > .nav-list:first-child > .nav-item:first-child {
  padding-top: 0;
}

.nav-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 1.85em;
  outline: none;
  padding: 0;
  /* nudge font size and width to fix calculation error in Chrome */
  font-size: 0.6rem;
  width: 1.0526em;
  color: $font-color-light;
}

@media screen and (min-width: 769px) {
  .nav-toggle {
    height: 1.6em;
  }
}

.nav-toggle::-moz-focus-inner {
  border: none;
}

.nav-item.is-active > .nav-toggle {
  transform: rotate(180deg);
}

.nav-link,
.nav-text {
  display: inline-block;
  line-height: 1.2;
}

@media screen and (min-width: 769px) {
  .nav-link,
  .nav-text {
    line-height: 1.4;
  }
}

.is-current-page > .nav-link {
  position: relative;
  display: block;

  &::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -$sidebar-padding-sides;
    top: calc(50% - 8px);
    border: 8px solid transparent;
    border-left-color: $secondary;
  }
}

.is-current-page[data-depth='2'] > .nav-link::before {
  left: $submenu-negative-spacing;
}

.nav-toggle + .nav-link,
.nav-toggle + .nav-text {
  margin-left: 0;
}
