.navigation {
  @media screen and (min-width: 1024px) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $font-alt;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;

    a {
      color: inherit;
      display: block;
      padding: $sidebar-padding-top $sidebar-padding-sides;
      margin-top: -$sidebar-padding-top;
      transition: all 0.3s;

      &:hover {
        text-decoration: none;
        color: $white;
        background-color: $secondary;
      }
    }
  }

  &__version {
    display: block;
    font-size: 0.7rem;
    font-weight: bold;
    color: $font-color-inverse;
  }
}

.navigation .panels {
  display: flex;
  flex-direction: column;
  height: inherit;
  flex-grow: 1;
}
