.sidebar {
  display: none;
  align-self: flex-start;
  position: sticky;
  top: 0;
  left: 0;
  width: 15rem;
  min-height: 100vh;
  font-size: 0.75rem;
  z-index: 1;
  background-color: $light-bg;
  padding-top: $sidebar-padding-top;
  border-right: $border;
  border-left: $sidebar-border;

  &.is-active {
    display: block;
    position: fixed;
    z-index: $z-sidebar-mobile;
    top: var(--navbar-height);
    flex-shrink: 0;
  }

  @media screen and (min-width: 769px) {
    width: 20rem;
    font-size: 0.9rem;
  }

  @media screen and (min-width: 1024px) {
    /*     font-size: 0.85rem;
 */
    display: flex;
    flex-direction: column;
    top: var(--navbar-height);

    &.is-active {
      display: flex;
      position: sticky;
    }
  }
}

.brand {
  padding: 0 $sidebar-padding-sides $sidebar-padding-top;
  border-bottom: $separator;

  img {
    display: block;
    max-width: 7rem;
  }
}
