.toolbar {
  color: #5d5d5d;
  align-items: flex-end;
  /* background-color: #fafafa; */
  /* box-shadow: 0 1px 0 #e1e1e1; */
  display: flex;
  font-size: 0.75rem;
  /* height: var(--toolbar-height, 2rem); */
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  padding: 1rem 2rem 0.25rem;
  max-width: $toolbar-max-width;
}

/* .toolbar a,
.toolbar a:visited {
  color: inherit;
} */

/* .home-link {
  color: $font-color;
  margin-right: 0.3rem;
  font-size: 2rem;

  &:hover {
    opacity: 0.5;
  }
} */

.edit-this-page {
  display: none;
  /* padding-right: 2.5rem; */
}

@media screen and (min-width: 1024px) {
  .edit-this-page {
    display: block;
  }
}

/* .toolbar .edit-this-page a {
  color: $white;
} */
