.toolbar {
  color: #5d5d5d;
  align-items: flex-end;
  /* background-color: #fafafa; */
  /* box-shadow: 0 1px 0 #e1e1e1; */
  display: flex;
  font-size: 0.75rem;
  /* height: var(--toolbar-height, 2rem); */
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  padding: 1rem 0.5rem 0.25rem;
  max-width: 34rem;

  @media (max-width: 1023px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $screen-l) {
    max-width: 37rem;
  }

  @media (min-width: $screen-xl) {
    max-width: $toolbar-max-width;
    margin: 0 2rem;
  }

  @media (min-width: 1024px) {
    max-width: $toolbar-max-width;
    padding: 1rem 2rem 0.25rem;
    margin: 0;
  }
}

/* .toolbar a,
.toolbar a:visited {
  color: inherit;
} */

/* .home-link {
  color: $font-color;
  margin-right: 0.3rem;
  font-size: 2rem;

  &:hover {
    opacity: 0.5;
  }
} */

.edit-this-page {
  @media screen and (max-width: 1023px) {
    background-color: transparent;
    color: $link;
    text-align: right;
    padding: 0;
    margin-left: auto;
    margin-top: -1rem;

    &:hover {
      color: $link-hover;
    }
  }

  @media screen and (min-width: $screen-l) and (max-width: 1023px) {
    margin-top: 0.2rem;
  }
}

/* .toolbar .edit-this-page a {
  color: $white;
} */
